
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #030303;
}

header {
    background-color: #f10b0b;
    color: #fff;
    padding: 10px;
    
}

nav {
    background-color: #080808f3;
    color: #fff;
    height:5px;
    padding: 10px;
    text-align: center;
    
    
}

#second-nav {
    background-color: #6d6969;
    color: #030303;
    height: 100px;
    padding: 10px;
    text-align: center;
}

#third {
    background-color: #8b8787;
    color: #030303;
    padding: 10px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Search bar styles */
#search-bar {
    margin: 10px;
    padding: 5px;
    width: 200px;
}

/* League section styles (placeholder) */
#league-section {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}
a {
    color: #e90909; /* Change this color to your desired link color */
    text-decoration: none; /* Remove underlines from links */
}

a:hover {
    text-decoration: underline; /* Add underlines on hover */
}


nav a, #second-nav a {
    color: #fff;
    padding: 10px; /* Add padding to create space between items */
    text-decoration: none;
}

.wide-input {
width: 200px;
height: 20px;
}
.navbar-logo {
    width: 350px; /* Adjust as needed */
    height: auto;
    
    
    

}







