{% extends 'base.html' %}
{% block content %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>



<h2>List Staff</h2>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            
            <th>Email</th>
            <th>Position</th>
            
            <th>salary</th>
            <th>detail</th>

            
            <th>Profile Picture</th>
        </tr>
    </thead>
    <tbody>
        
        {% for staff_member in staff_members %}
            <tr>
                <td>{{ staff_member.first_name }}</td>
                
                <td>{{ staff_member.email }}</td>
                <td>{{ staff_member.position }}</td>
                <td>{{ staff_member.salary.basic_amount }}</td>
                <td><a href="{% url 'staff_detail' staff_id=staff_member.id %}">View Details</a></td>
               
                <td>
                    {% if staff.profile_picture %}
                

                        <img src="{{ staff.profile_picture.url }}">
                    {% else %}
                        No picture available
                    {% endif %}
                    
                </td>
            </tr>
           
        {% endfor %}
        
        
    </tbody>
</table>

{% endblock %}